*{
    box-sizing: border-box;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin: 0;
    padding: 0;
    background:gold;
    font-family: Big Shoulders Display, cursive
}
h2 {
    font-family: Orbitron, sans-serif
}

.navbar ul{
list-style:none;
background: black;
margin: 0;
padding:0;
text-align: center;
font-family: Orbitron, sans-serif

}
.navbar li{
    display: inline-block;
    
}
.navbar a{
    text-decoration: none;
     color:white;
    width: 120px;
    display: block;
    padding: 25px 20px;
    font-size:17px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
.navbar a:hover{
    background-color: skyblue;
    color: black;
}
.container{
    max-width: 1400px;
    margin: auto;
    background: gold;
    overflow: auto;
   


}
.container{
    border:3px solid white;
    padding: 50px;
    margin: 50px;
    text-align: center;
}
.container h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: Orbitron, sans-serif
}
.gallery{
    margin: 5px;
    border: 2px solid black;
    float: left;
    width: 405px;

}
.gallery:hover{
    border: 3px solid skyblue;
}
.gallery img{
    width:400px;
    height: 500px;
    

}
.desc{
    padding: 15px;
    text-align: center;
    background-color: white;
    font-size:20px;
    width:400px;
}
.main{
    width: 500px;
    border:3px solid white;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
.about{
    width: 100%;
    padding:100px 0px;
    background-color: gold;
}
.about img{
    height:auto;
    width:430px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: Big Shoulders Display, cursive
}
.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: Orbitron, sans-serif
}
.about-text p{
color: black;
letter-spacing: 1px;
line-height: 20px;
font-size: 20px;
margin-bottom: 45px;
}

.fa {  
    padding: 20px;  
  text-align: center;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px;  
  } 
  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
.fa a:hover{
    background-color: skyblue;
    color: black;
}


footer{
padding: 10px;
font-size: 17px;
text-align: center;
background: black;
color:white;
font-family: Orbitron, sans-serif;
letter-spacing: 1px;
}
